body {
	font-family: Arial, sans-serif;
}

h3 {
	text-align: center;
}

.form {
	border: 2px solid #000;
	border-radius: 8px;
	box-shadow: 0 3px 15px rgba(0,0,0,.5);
	width: 280px;
	padding: 10px;
	margin: 30px auto;	
}

input {
	border-radius: 3px;
	display: block;
	width: 90%;
	height: 28px;
	padding-left: 5px;
	margin-bottom: 15px;
}


button {
	display: block;
	border-radius: 3px;
	background-color: #0f6;
	color: #fff;
	font-size: 16px;
	padding: 8px;
	margin: 50px auto 0;
}
